<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Sneaker Images! </div>
    <p>
      Use images of the side-view of a single shoe from your collection. <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn10.bigcommerce.com%2Fs-k9r94cx2is%2Fproducts%2F1042%2Fimages%2F1284%2F1850__75259.1478223230.1280.1280.jpg%3Fc%3D2&imgrefurl=http%3A%2F%2Fdecalstar.com%2F1850-nike-air-jordan-5-shoes-box-cartoon-8-cm-decal-sticker%2F&docid=sbn5fYRuT0CC6M&tbnid=sRQ9McfD2jWQ0M%3A&vet=10ahUKEwjRgPCPgujiAhWFAHwKHWxxBPsQMwieASgWMBY..i&w=609&h=483&safe=active&bih=735&biw=1368&q=cartoon%20shoe&ved=0ahUKEwjRgPCPgujiAhWFAHwKHWxxBPsQMwieASgWMBY&iact=mrc&uact=8" alt="cartoon shoe">
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
